{% extends 'master/master.html' %}
{% load cart_tag %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
                    <li class="active">Check Out</li>
                </ul>
                <div class="well well-small">
                    <h1>Check Out <small class="pull-right"></small></h1>
                    <hr class="soften"/>

                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in request.session.cart.items %}
                            <tr>
                                <td>
                                    <img src="{{ value.image }}" width="30" alt="">
                                </td>
                                <td>
                                    {{ value.name }}
                                </td>
                                <td>{{ value.price }}</td>
                                <td>
                                    <a href="{% url 'item_increment' value.product_id %}" class="btn btn-primary">+</a>
                                    {{ value.quantity }}
                                    <a href="{% url 'item_decrement' value.product_id %}" class="btn btn-danger">-</a>
                                </td>
                                <td>
                                    {{ value.price|multiply:value.quantity }}
                                </td>
                                <td>
                                    <a href="{% url 'item_clear' value.product_id %}" class="btn btn-warning">Remove</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <a href="{% url 'cart_clear' %}"
                                   onclick="return confirm('are you sure?')"
                                   class="btn btn-danger">Clear Cart</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <br/>


                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}