{% extends 'master/master.html' %}

{% block content %}

    <div class="well well-small">
        {% for category in categoryData %}
            <h3>{{ category.name }} </h3>
            <ul class="thumbnails">
            {% for product in category.product_set.all %}


      <li class="span4">
        <div class="thumbnail">
        <a href="" class="overlay"></a>
        <a class="zoomTool" href="" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
        <a href="">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="" style="width: 100%;height: 200px;">
                    {% endif %}
                </a>
        <div class="caption cntr">
          <p>{{ product.name }}</p>
          <p><strong> Rs: {{ product.price }}</strong></p>
          <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
          <div class="actionList">
            <a class="pull-left" href="#">Add to Wish List </a>
            <a class="pull-left" href="#"> Add to Compare </a>
          </div>
          <br class="clr">
        </div>
        </div>
      </li>

            {% endfor %}

      </ul>


            <hr>

        {% endfor %}


    </div>
    </div>


{% endblock %}