{% extends 'master/master.html' %}
{% block content %}
    <div class="container">
        <div class="well well-small">
            <h1>Visit us</h1>
            <hr class="soften"/>
            <div class="row-fluid">
                <div class="span8 relative">
                    <div class="absoluteBlk">
                        <div class="well wellsmall">
                            <h4>Contact Details</h4>
                            <h5>
                                2601 Mission St.<br/>
                                San Francisco, CA 94110<br/><br/>

                                info@mysite.com<br/>
                                ﻿Tel 123-456-6780<br/>
                                Fax 123-456-5679<br/>
                                web:wwwmysitedomain.com
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <h4>Email Us</h4>
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}

                        <fieldset>
                            <div class="control-group">

                                <input type="text" name="email" required placeholder="email" class="input-xlarge"/>

                            </div>
                            <div class="control-group">

                                <input type="text" name="subject" required placeholder="subject" class="input-xlarge"/>

                            </div>
                            <div class="control-group">
                                <textarea rows="3" name="message" required id="textarea" class="input-xlarge"></textarea>

                            </div>

                            <button class="shopBtn" type="submit">Send email</button>

                        </fieldset>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}