{% extends 'master/master.html' %} 

{% block content %}
<div class="well well-small">
	<h3>Our Products </h3>

		<div class="row-fluid">
		  <ul class="thumbnails">
            {% for product in productData%}
			<li class="span4">
			  <div class="thumbnail">
				<a href="" class="overlay"></a>
				<a class="zoomTool" href="{% url 'product-details' product.slug%}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				{% if product.image%}
                <a href=""><img src="{{ product.image.url }}" alt="" style="width:100%;height:300px;"></a>
                {% endif %}
				<div class="caption cntr">
					<p>{{ product.name}}</p>
					<p><strong> ${{ product.price }}</strong></p>
					<h4><a class="shopBtn" href="{% url 'cart_add' product.id %}" title="add to cart"> Add to cart </a></h4>
					<div class="actionList">
						<a class="pull-left" href="#">Add to Wish List </a> 
						<a class="pull-left" href="#"> Add to Compare </a>
					</div> 
					<br class="clr">
				</div>
			  </div>
			</li>
			{% endfor %}
		  </ul>
		</div>
		
	
	</div>
</div>
{% endblock %}