<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- Customize styles -->
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
    <!-- font awesome styles -->
	<link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}">
  </head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
      <div class="container">
        <div class="alignR">
          
          <a class="active" href="index.html"> <span class="icon-home"></span> Home</a> 
          <a href="#"><span class="icon-user"></span> My Account</a> 
          <a href="{% url 'cart_detail' %}"><span class="icon-shopping-cart"></span> Cart</a>
        </div>
      </div>
    </div>
  </div>
  
  <!--
  Lower Header Section 
  -->
  <div class="container">
  <div id="gototop"> </div>
  <header id="header">
  <div class="row">
    <div class="span4">
    <h1>
    <a class="logo" href="index.html"><span>Estore</span> 
      <img src="" alt="E-store">
    </a>
    </h1>
    </div>
  
    
  </div>
  </header>
  
  <!--
  Navigation Bar Section 
  -->
  <div class="navbar">
      <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="{% url 'index' %}">Home	</a></li>
          <li class = ""><a href="{% url 'category' %}">Category</a></li>
          <li class = ""><a href="{% url 'products'%}">Products</a></li>
          <li class = ""><a href="{% url 'contact' %}">Contact</a></li>

        </ul>
        
        
        </div>
      </div>
      </div>
    </div>
  